@import "../../scss/variables";

.buttons {
  box-shadow: $box-shadow-sm;
  transition: $transition-long;
  border: 1px solid $primary !important;
  padding: 0.5rem 1.75rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $offwhite !important;
  color: $primary !important;
  font-size: 0.8rem;
  &:hover {
   box-shadow: none;
   transform: translateY(-3px);
   outline: 0 !important;
   background-color: $primary !important;
   color: $offwhite !important;
 }
  .btn_icon {
    padding: 0 0 0 0.5rem;
  }

}
