
h1,h2,h3,h4 {
  color: $primary;
}
body {
  color: $secondary;
}
h1 {
  font-size: $large-bold;
  font-family: $bold;
}
.h1-light {
  font-size: $large-light;
  font-family: $light-font;
}
.h1-2 {
  font-size: $large-bold;
  font-family: $medium-font;
}

.h1-2-light {
  font-size: $large-bold;
  font-family: $light-font;
}

h2 {
  font-size: $medium-light;
  font-family: $bold;
}
.h2-2 {
  font-size: $large-light;
  font-family: $bold;
}
.h2-light {
  font-size: $button-text;
  font-family: $bold;
  color: $primary-light;
}

.h2-light {
  font-size: $button-text;
  font-family: $bold;
  color: $primary-light;
}
.h2-header {
  font-size: $button-text;
  font-family: $light-font;
  color: $primary;
}

.title_uppercase {
  text-transform: uppercase;
}
.title_mt {
  margin-top: 2.4rem;
}
.small {
  font-size: $button-text;
  font-family: $medium-font;
}
.small-bold {
  font-size: $button-text;
  font-family: $bold;
}
.spcial_language {
  font-size: $button-text;
  font-family: $bold;
  opacity: 0.6;
}
.btn_link {
  text-decoration: none;
}
/*************************************************************************/
.side-menu {
  border-right: 1px solid $border-light;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  border: 0;
}
#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
/* Change color on hover */
.bm-item:hover {
  color: white;
}
.bm-item:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}
/* The rest copied directly from react-burger-menu docs */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 28px;
  height: 20px;
  left: 15px;
  top: 21px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $primary-light;
  height: 12% !important;
  border-radius: 10px;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 10;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}
/* Styling of overlay */
.bm-overlay {
  background: $disabledGray;
  top: 0;
}
.bm-menu-wrap {
  top: 0;
  left: -5px;
}
