/* ============= Colors ============= */
$primary: #37474f;
$offwhite: #F6F6F6;
$primary-light: #37474f;
$secondary: #546e7a;
$border-light: #d6dde1;
$disabledGray: #98a8af;
$light: #b0bec5;
/* ============= Fonts family ============= */
$bold: "MontserratBold";
$regular: "MontserratRegular";
$italic: "MontserratItalic";
$extra-bold: "MontserratExtraBold";
$thin: "MontserratThin";
$light-font: "MontserratLight";
$medium-font: "MontserratMedium";
/* ============= General ============= */
$border-radius: 0.4rem;
$transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
$transition-long: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
$box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.2);
$box-shadow-sm: 0rem 1rem 5rem rgba(0, 0, 0, 0.2);
$scal: scale(1.03);
$scal-sm: scale(1.01);

$large-bold: 2.857rem; // 40px
$large-light: 1.785rem; // 25px
$medium-bold: 1.214rem; // 17px
$medium-light: 0.785rem; // 11px
$regular-size: 1rem; // 14px
$button-text: 0.928rem; // 13px
